<div class='experience-section'>
  <h3>Mobile Experience:</h2>
  <ul>
    <li>
      Having no prior knowedge of C, C++ or Objective C; I built three iPhone applications making use of the iPhone's camera, location, data store and network communication APIs.  My last iPhone application, aMakeupMatchup, was inspired by rails.  Using Objective-C's meta programing capabilities, I built a very DRY application.  <%= link_to 'aMakeupMatchup', 'https://github.com/dapplebeforedawn/aMakeupMatchup' %> is available as open source on GitHub
    </li>
  </ul>
</div>
