<div class='experience-section'>
  <h3>Work History and Education:</h2>
  <ul>
    <li>
      <strong>American Showa Inc. </strong><span>November 2005 to Present</span>
      <div class='work-summary'>
        Worked as the Test Group Team Leader, performing design and production validation testing
      </div>
    </li>
    <li>
      <strong>The Ohio State University</strong><span> June-2005</span>
      <div class='work-summary'>
        BS in Welding Engineering, 3.7 major GPA
      </div>
    </li>
  </ul>
</div>
