<div class='experience-section'>
  <h3>Work History and Education:</h2>
  <ul>
    <li>
      <strong>American Showa Inc. </strong><span>November 2005 to Present</span>
      <div class='work-summary'>
        Worked as the Test Group Team Leader, performing design and production validation testing
      </div>
    </li>
    <li>
      <strong>The Ohio State University</strong><span> June-2005</span>
      <div class='work-summary'>
        BS in Welding Engineering, 3.7 major GPA
      </div>
    </li>
    <li>
      <strong>Continuing Education</strong>
      <ul>
        <li>
          <%= link_to "Design and Analysis of Algorithms 1", "https://www.coursera.org/course/algo" %> <span>Spring 2012</span>
          <div class='work-summary'>
            Scored 97 of 100 possible points
          </div>
        </li>
        <li>
          <%= link_to "Machine Learning", "https://www.coursera.org/course/ml"%> <span>Spring 2012</span>
          <div class='work-summary'>
            Scored 830 of 780 possible points
          </div>
        </li>
      </ul>
      <div class='work-summary'>
      </div>
    </li>
  </ul>
</div>
